{% extends 'mailing/base.html' %}

{% block content %}

  <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
    <h1 class="h2">Мониторинг рассылок</h1>
    <div class="btn-toolbar mb-2 mb-md-0">
      <div class="btn-group me-2">
        <button type="button" class="btn btn-sm btn-outline-secondary">Share</button>
        <button type="button" class="btn btn-sm btn-outline-secondary">Export</button>
      </div>
      <button type="button" class="btn btn-sm btn-outline-secondary dropdown-toggle">
        This week
      </button>
    </div>
  </div>

  <canvas class="my-4 w-100" id="myChart" width="900" height="380"></canvas>

  <h2>Журнал рассылок</h2>
  <div class="table-responsive">
    <table class="table table-sm">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col" class="text-end">Название</th>
          <th scope="col" class="text-end">Время</th>
          <th scope="col" class="text-end">Статус</th>
          <th scope="col" class="text-end">Ответ сервера</th>
        </tr>
      </thead>
      <tbody>
        {% for object in object_list %}
          <tr>
            <td>{{ object.id }}</td>
            <td class="text-end">{{ object.mailing.name}}</td>
            <td class="text-end">{{ object.last }}</td>
            {% if object.status %}
              <td class="table-success align-top text-end">Успех</td>
            {% else %}
              <td class="table-danger align-top text-end">Ошибка</td>
            {% endif %}
            <td class="text-end">{{ object.response }}</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
{% endblock %}