{% extends 'mailing/base.html' %}

{% block content %}
  <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
    <h1 class="h2">Рассылки</h1>
    <div class="btn-toolbar mb-2 mb-md-0">
      <div class="btn-group me-2">
        <button type="button" class="btn btn-sm btn-outline-secondary">Share</button>
        <button type="button" class="btn btn-sm btn-outline-secondary">Export</button>
      </div>
      <button type="button" class="btn btn-sm btn-outline-secondary dropdown-toggle">
        This week
      </button>
    </div>
  </div>

  <div class="table pt-3">
    <table class="table table-sm">
      <thead>
        <tr>
          <th scope="col">id</th>
          <th scope="col">Название</th>
          <th scope="col">Период</th>
          <th scope="col">Состояние</th>
          <th scope="col">Действия</th>
        </tr>
      </thead>
      <tbody>
        {% for object in object_list %}
            <tr>
              <td>{{ object.id }}</td>
              <td>{{ object.content.name }}</td>
              <td>{{ object.start_time }} - {{ object.end_time }}</td>
              {% if object.state == 'created' %}
                <td class="table-info">Создана</td>
              {% elif object.state == 'completed' %}
                <td class="table-danger">Завершена</td>
              {% elif object.state == 'launched' %}
                <td class="table-success">Запущена</td>
              {% endif %}
              <td>
                <div class="row">
                  <div class="col">
                    <a href="{% url 'mailing:mailing' object.pk %}" class="btn btn-outline-primary btn-sm" type="button">Подробнее</a>
                    <a href="{% url 'mailing:mailing' object.pk %}" class="btn btn-outline-primary btn-sm" type="button">Редактировать</a>
                    <a href="{% url 'mailing:mailing' object.pk %}" class="btn btn-warning btn-sm" type="button">Приостановить</a>
                    <a href="{% url 'mailing:mailing' object.pk %}" class="btn btn-danger btn-sm" type="button">Удалить</a>
                  </div>
                </div>
              </td>
            </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
{% endblock %}