{% extends 'mailing/base.html' %}
{% block content %}
  <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
    <h1 class="h2">Рассылки</h1>
    <div class="btn-toolbar mb-2 mb-md-0">
      <div class="btn-group me-2">
        <a href="{% url 'mailing:create_mailing' %}" type="button" class="btn btn-sm btn-outline-secondary">Создать</a>
        <button type="button" class="btn btn-sm btn-outline-secondary">Export</button>
      </div>
      <button type="button" class="btn btn-sm btn-outline-secondary dropdown-toggle">
        This week
      </button>
    </div>
  </div>

  <div class="table pt-3">
    <table class="table table-sm">
      <thead>
        <tr>
          <th scope="col">id</th>
          <th scope="col">Название</th>
          <th scope="col">Период</th>
          <th scope="col">Состояние</th>
          <th scope="col">Действия</th>
          <th scope="col"></th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        {% for object in object_list %}
            <tr>
              <td>{{ object.id }}</td>
              <td>{{ object.name}}</td>
              <td class="row">C {{ object.start_date }}</td>
              <td class="row"> по {{ object.end_date }}</td>
              {% if object.state == 'created' %}
                <td class="table-info">Создана</td>
              {% elif object.state == 'completed' %}
                <td class="table-danger">Завершена</td>
              {% elif object.state == 'launched' %}
                <td class="table-success">Запущена</td>
              {% elif object.state == 'stopped' %}
                <td class="table-warning">Остановлена</td>
              {% endif %}
              <td>
                <div class="row">
                  <div class="col">
                    <a href="{% url 'mailing:mailing' object.pk %}" class="btn btn-outline-secondary btn-sm" type="button">Подробнее</a>
                    <a href="{% url 'mailing:update_mailing' object.pk %}" class="btn btn-outline-secondary btn-sm" type="button">Редактировать</a>
                  </div>
                </div>
              </td>
              <td>
                {% if object.state in 'created,launched' %}
                      <a href="{% url 'mailing:stopped_mailing' object.pk %}" class="btn btn-secondary btn-sm" type="button">Приостановить</a>
                    {% elif object.state == 'stopped' %}
                      <a href="{% url 'mailing:stopped_mailing' object.pk %}" class="btn btn-secondary btn-sm" type="button">Запустить</a>
                    {% else %}
                      <a  class="btn btn-secondary btn-sm disabled" type="button" >Приостановить</a>
                    {% endif %}
              </td>
              <td>
                <a href="{% url 'mailing:delete_mailing' object.pk %}" class="btn btn-outline-dark btn-sm" type="button">Удалить</a>
              </td>
            </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
{% endblock %}