{% extends 'mailing/base.html' %}
{% block content %}
    <div class="row g-1 gx-5">
        <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
            <h2>Действительно удалить клиента?</h2>
        </div>


        <div class="row col-12 mx-auto">
            <form method="post" enctype="multipart/form-data">
                {% csrf_token %}
                {{ form.as_p }}
                <button class="btn btn-outline-danger" type="submit">Удалить</button>
                <a href="{% url 'client:list' %}" class="btn btn-primary" type="submit">Отменить</a>
            </form>
        </div>
    </div>
{% endblock %}