<div class="navbar-nav">
    <div class="nav-item text-nowrap">
        <div class="container-fluid">
            <div class="row col-12">
                {% if user.is_authenticated %}
                <div class="col-3"></div>
                <div class="col-2">
                    <a href="{% url 'users:logout' %}" class="nav-link px-3">Выход</a>
                </div>
                <div class="col-6">
                    <a href="{% url 'users:update' %}" class="nav-link px-3">Редактирование профиля</a>
                </div>
            {% else %}
                <div class="col-3"></div>
                <div class="col-3">
                    <a href="{% url 'users:login' %}" class="nav-link px-3">Вход</a>
                </div>
                <div class="col-6">
                    <a href="{% url 'users:register' %}" class="nav-link px-3">Регистрация</a>
                </div>
            {% endif %}
            </div>
        </div>
    </div>
</div>