{% extends 'mailing/base.html' %}
{% load crispy_forms_tags %}
{% crispy reset_password_form reset_password.helper %}
{% block content %}
    <div class="row g-1 gx-5">
        <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
                <h2>Сброс пароля</h2>
        </div>
        <form method="post" enctype="multipart/form-data">
            <div class="row col-12 mx-auto">
                <div class="col-3"></div>
                <div class="col-6">
                    <div class="card">
                        <div class="card-body">
                             <h5 class="card-title">Введите ваш email</h5>
                            {% csrf_token %}
                            {{ form|crispy }}
                            <button class="btn btn-primary" type="submit">Сбросить</button>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
    <div class="row row p-3"></div>
{% endblock %}