{% extends 'mailing/base.html' %}
{% load crispy_forms_tags %}
{% crispy user_form user.helper %}
{% block content %}
    <div class="row g-1 gx-5">
        <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
            {% if not object.pk %}
                <h2>Регистрация</h2>
            {% else %}
                <h2>Редактирование профиля</h2>
            {% endif %}
        </div>
        <form method="post" enctype="multipart/form-data">
            <div class="row col-12 mx-auto">
                <div class="col-6">
                    <div class="card">
                        <div class="card-body">
                            {% csrf_token %}
                            {{ form | crispy }}
                            {% if not object.pk %}
                                <button class="btn btn-secondary" type="submit">Регистрация</button>
                                <a href="{% url 'mailing:index' %}" class="btn btn-link" type="submit">Отмена</a>
                            {% else %}
                                <div class="row mt-4">
                                    <a href="{% url 'users:reset_password' %}" class="btn btn-link" type="submit">Сброс пароля</a>
                                </div>
                                <button class="btn btn-secondary mt-4" type="submit">Сохранить</button>
                                <a href="{% url 'mailing:index' %}" class="btn btn-link mt-4" type="submit">Отмена</a>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
    <div class="row row p-3"></div>
{% endblock %}