{% extends 'mailing/base.html' %}
{% block content %}
  <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
    <h1 class="h2">Клиенты</h1>
    <div class="btn-toolbar mb-2 mb-md-0">
      <div class="btn-group me-2">
        <a href="{% url 'client:create' %}" type="button" class="btn btn-sm btn-outline-secondary">Создать</a>
        <button type="button" class="btn btn-sm btn-outline-secondary">Export</button>
      </div>
      <button type="button" class="btn btn-sm btn-outline-secondary dropdown-toggle">
        This week
      </button>
    </div>
  </div>

  <div class="table pt-3">
    <table class="table table-sm">
      <thead>
        <tr>
          <th scope="col">id</th>
          <th scope="col">Имя</th>
          <th scope="col">Фамилия</th>
          <th scope="col">Email</th>
          <th scope="col">Действия</th>
        </tr>
      </thead>
      <tbody>
        {% for object in object_list %}
            <tr>
              <td>{{ object.id }}</td>
              <td>{{ object.first_name}}</td>
              <td>{{ object.last_name}}</td>
              <td>{{ object.email }}</td>
              <td>
                <div class="row">
                  <div class="col">
                    {% if object.is_active %}
                      <a href="{% url 'users:block_user' object.pk %}" class="btn btn-outline-secondary btn-sm col-5" type="button">Блокировать</a>
                    {% else %}
                      <a href="{% url 'users:block_user' object.pk %}" class="btn btn-secondary btn-sm col-5" type="button">Разблокировать</a>
                    {% endif %}
                  </div>
                </div>
              </td>
            </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
{% endblock %}