<td>{{ object.id }}</td>
<td>{{ object.name }}</td>
<td>{{ object.settings.start_time }} - {{ object.settings.end_time }}</td>
{% if object.settings.state == 'created' %}
  <td>Создана</td>
{% elif object.settings.state == 'completed' %}
  <td>Завершена</td>
{% elif object.settings.state == 'launched' %}
  <td>Запущена</td>
{% endif %}
<td>
  <div class="row">
    <div class="col">
      <a href="{% url 'mailing:mailing' object.pk %}" class="btn btn-outline-dark btn-sm" type="button">Подробнее</a>
      <a href="{% url 'mailing:mailing' object.pk %}" class="btn btn-outline-dark btn-sm" type="button">Редактировать</a>
      <a href="{% url 'mailing:mailing' object.pk %}" class="btn btn-outline-dark btn-sm" type="button">Приостановить</a>
      <a href="{% url 'mailing:mailing' object.pk %}" class="btn btn-outline-danger btn-sm" type="button">Удалить</a>
    </div>
  </div>
</td>
